/* Button Styles and Colors */
@mixin hover-focus {
  &:focus,
  &:not(.is-not-touching):hover,
  &:active {
    @content;
  }
}

@mixin btn-variant-color(
  $content-color: $btn-color,
  $bg-color: $btn-bg,
  $border-color: $btn-border
) {
  color: $content-color;
  background-color: $bg-color;
  border-color: $border-color;

  @include hover-focus {
    color: $content-color;
    background-color: darken($bg-color, 10%);
    border-color: darken($border-color, 10%);
  }
}
// color definitions
// -------------------------------------------------------

// New colors (Nov 20, 2019)
$black: var( --wp--custom--core-colors-2 );
$gray-600: #333;
$gray-500: #5e5e5e;
$gray-400: #8f8f8f;
$gray-300: #b3b3b3;
$gray-200: #e6e6e6;
$gray-100: #f4f5f5;
$white: var( --wp--custom--core-colors-1 );

$blue-600: #1f2b7a;
$blue-500: #3243b2;
$blue-200: #e0e3f3;

$coral-600: #ef2614;
$coral-500: #fa5e50;
$coral-200: #ffdfdc;

$success-600: #1e573d;
$success-500: #168753;
$success-300: #c5e1d4;
$success-200: #daf0e6;

$warning-600: #6e3300;
$warning-500: #f57f18;
$warning-300: #fbd7b6;
$warning-200: #fae5d3;

$danger-600: #990000;
$danger-500: #d10f0f;
$danger-300: #f4c3c3;
$btn-secondary-color: $blue-500;
$btn-secondary-bg: transparent;
$btn-secondary-border: $blue-200;

$btn-tertiary-color: $blue-500;
$btn-tertiary-bg: rgb(255,255,255);
$btn-tertiary-border: transparent;
.c-btn--primary {
  @include btn-variant-color($white, $blue-500, $blue-500);
}

.c-btn--secondary {
  @include btn-variant-color(
    $btn-secondary-color,
    $btn-secondary-bg,
    $btn-secondary-border
  );

  .c-btn__icon::before {
    border-left-color: $btn-secondary-border;
  }
}

.c-btn--tertiary {
  @include btn-variant-color(
    $btn-tertiary-color,
    $btn-tertiary-bg,
    $btn-tertiary-border
  );
}

.c-btn--transparent {
  @include btn-variant-color($blue-500, transparent, transparent);
}

.c-btn--emphasized {
  @include btn-variant-color($white, $coral-500, $coral-500);
}

.c-btn--inverse {
  @include btn-variant-color($blue-500, transparent, rgba($blue-500, 0.25));
}

/* for rendering container size group in block sidebar */
.boundless-container-size {
  .components-button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 8px;
    column-gap: 8px;
    justify-content: center;
    button {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
.bl-trustpilot-title {
  padding: 5px 15px;
  border: 2px dashed #aaa;
  color: #999;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
/* For rendering the color picker in the TrustPilot block */
.components-circular-option-picker {
  padding: 10px 15px;
}
.components-circular-option-picker__option:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
  border: 1px solid transparent;
}

.components-circular-option-picker__option:hover {
  box-shadow: inset 0 0 0 3px !important;
}

/* Lead Magnet Form */
.boundless-lead-form-wrapper {
  padding: 0;
  margin: 0 auto;
  border: 2px solid #3243b2;
  @media screen and (max-width: 543px) {
    margin-left: 10px;
    margin-right: 10px;
  }
  .boundless-lead-form-content-wrapper {
    position: relative;
    padding: 40px 30px 48px;
    margin: 0;
  }

  .boundless-lead-form-content {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    margin-bottom: 32px;
    width: 100%;
    h3,
    p {
        font-family: var(--bl-main-font),-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        font-style: normal;
        line-height: 28px;
        text-align: center;
        color: #262626;
    }
    h3 {
        font-family: var(--bl-header-font), sans-serif;
        font-weight: 700;
        font-size: 24px;
        padding: 0 0 8px;
        margin: 0;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
  }

  .input-wrapper {
    display: inline-flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    @media screen and (max-width: 543px) {
        display: grid;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        max-width: unset;
        grid-template-columns: 1fr;
    }

	input[type='email'] {
        display: block;
        height: 100%;
        width: 100%;
        background: var(--wp--custom--core-colors-1);
        border: 1px solid #B3B3B3;
        max-width: 298px;
        border-radius: 0;
        min-height: 48px;
        padding: 12px 18px 12px 18px;
		@media screen and (max-width: 543px) {
			max-width: unset;
			min-height: unset;
			height: unset;
			margin-bottom: 12px;
		}
		margin-right: 8px;
	  }

	  button {
        display: inline-flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        max-width: 150px;
        padding: 16px 24px;
        font-family: var(--bl-main-font),-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--wp--custom--core-colors-1);
        height: 48px;
		span {
			line-height: 0;
		}
		@media screen and (max-width: 543px) {
			max-width: unset;
			width: 100%;
		}
	  }
  }
}
.components-button.is-pressed {
    .bl-custom-template-sidebar,    
    .bl-custom-blog-sidebar {
            rect,
            line,
            circle,
            path {
                stroke: var(--wp--custom--core-colors-1) !important;
            }
        }
}