@import '../../node_modules/@wordpress/components/build-style/style.css';

.notice:not(.save-notice) {
	display: none;
}
.wrap {
	max-width: 800px;
}

.components-button.has-icon.has-text {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 12px 20px;
	flex-direction: row-reverse;

	svg {
		display: inline-block;
		line-height: 0;
		padding: 0;
		margin: 0;
		margin-left: 8px;
	}
}

/**
 * Remove left margin from notice.
 */
.bl-notice.components-notice {
	margin-left: 0;
}